:root {
  --bg-send-msg: #D5F9BA;
  --bg-top-bar: #EAEAEA;
  --bg-notifications: #8EDAFC;
  --bg-latest-msg: #FAFAFA;
  --bg-txt-bar: #F3EEEA;
  --txt-prev-msg: #BFC2C4;
  --icons-top-bar: #B1B1B1;
  --icons-write-bar: #6B7376;
  --last-access: #7A8184;
  --top-bar-h: 70px;
  --notifications-h: 80px;
  --search-bar-h: 50px;
}

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*******************************************
  UTILITY
*******************************************/
.container {
  width: 80%;
  height: 95%;
  margin:auto;
}

.d-flex {
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}

.f-column {
  flex-direction: column;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.item-center {
  align-items: center;
}

.padding-xs {
  padding: 10px;
}

.padding-s {
  padding: 15px;
}

.circle-form {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden; 
  object-fit: cover;
  cursor: pointer;
}

/*******************************************
  GENERAL
*******************************************/
body {
  font-family: "Lato", sans-serif;
  height: 100vh;
  padding: 2.5vh 0;
  background: linear-gradient(to bottom, #009688 0%,#009688 15%, #DADBD4 15%, #DADBD4 85%);
}

img {
  max-width: 100%;
}

i {
  font-size: 1.5rem;
  cursor: pointer;
}

a {
  color: var(--icons-write-bar);
}

/*******************************************
  MAIN
*******************************************/
.container > .col {
  height: 100%;
}

.l-col {
  width: 380px;
  border-right: 1px solid rgb(160, 160, 160);
}

.dx-col {
  width: calc(100% - 380px);
}

.top-bar {
  height: var(--top-bar-h);
  background-color: var(--bg-top-bar);
}

/***************
  LEFT COLUMN
***************/
.l-col .top-bar i {
  color: var(--icons-top-bar);
  margin-right: 15px;
}

/* NOTIFICATIONS */
.l-col .notifications {
  height: var(--notifications-h);
  background-color: var(--bg-notifications);
}

.l-col .notifications i {
  background-color: white;
  color: var(--bg-notifications);
  line-height: 50px;
  margin-right: 15px;
}

.l-col .notifications .notification-status {
  font-size: .8rem;
  line-height: 1.2rem;
  height: fit-content;
}

/* SEARCH BAR */
.l-col .search-bar {
  height: var(--search-bar-h);
  background-color: var(--bg-latest-msg);
}

.l-col .search-bar .icon {
  background-color: white;
  width: 50px;
  height: 100%;
}

.l-col .search-bar i {
  font-size: 1rem;
  color: var(--icons-top-bar);
  background-color: white;
}

.l-col .search-bar input {
  height: 100%;
  width: calc(100% - 50px);
  border: none;
}

.search-bar ::-webkit-input-placeholder { /* WebKit browsers (Safari, Google Chrome, Opera 15+) */
  color: #DADBDD;
}
.search-bar :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color: #DADBDD;
 opacity: 1;
}
.search-bar ::-moz-placeholder { /* Mozilla Firefox 19+ */
 color: #DADBDD;
 opacity: 1;
}
.search-bar :-ms-input-placeholder { /* Internet Explorer 10+ */
 color: #DADBDD;
}

/* CONTACT LIST */
.l-col .contact-list {
  height: calc(100% - var(--top-bar-h) - var(--notifications-h) - var(--search-bar-h));
  overflow-y: scroll;
}

.contact-list .latest-msg .row {
  height: 80px;
  background-color: white;
  font-size: .8rem;
  cursor: pointer;
}

.contact-list .latest-msg .row:hover {
  background-color: whitesmoke;
}

.contact-list .latest-msg .row .user-name {
  margin-left: 15px;
  line-height: 1.3rem;
}

.contact-list .latest-msg .user-name .msg-preview {
  color: var(--txt-prev-msg);
}

.contact-list .latest-msg .msg-hour {
  justify-self: flex-end;
  color: var(--txt-prev-msg);
}

/* RIGHT COLUMN */
.msg-box {
  height: calc(100% - (var(--top-bar-h) * 2));
  background-image: url('../img/mine.jpg');
  overflow-y: scroll;
}

.txt-bar {
  height: var(--top-bar-h);
  background-color: var(--bg-txt-bar);
}



/*******************************************
  MEDIA QUERY
*******************************************/
/**************
  TABLET
**************/
@media (max-width: 992px) {
  body {
    padding: 0;
    background: none;
  }

  .container {
    width: 100%;
    height: 100%;
  }

  .l-col {
    width: 90px;
  }

  .dx-col {
    width: calc(100% - 90px);
  }

  /* LEFT COLUMN */
  .l-col .menu-icons,
  .l-col .notifications,
  .l-col .search-bar,
  .l-col .user-name,
  .l-col .msg-hour {
    display: none;
  }

  .l-col .contact-list {
    height: calc(100% - var(--top-bar-h));
  }

}





/**************
  MOBILE
**************/
@media (max-width: 541px) {
  .l-col {
    display: none;
  }

  .dx-col {
    width: 100%;
  }
  
}